<h2><%= @version.name %> <%= l(:burndown) %></h2>
<div id="placeholder" style="width:750px;height:400px"></div>
<%= chart("placeholder", {
                  "Planned" => {:collection => @chart.planned_data,:x => :date, :y => :hours, :options=>{:points=>{:show=>false}}},
                  "Insight"=> {:collection => @chart.insight_data,:x=>:date, :y=>:hours},
                  "TODO"=> {:collection => @chart.todo_data,:x=>:date, :y=>:hours}
						  }, 
						  { :xaxis=>{:mode=>:time}, 
						    :lines=>{:show=>true}, 
						    :points=>{:show=>true},
							:grid=>{:markings=>js_function('burndownMarkings') }
						  } ) %>

<% content_for :sidebar do -%>
  <h3><%= l(:label_version_plural) %></h3>
  <ul id="sprint_burndown_list">
    <% @available_versions.each do |version| -%>
      <li<%= %Q[ class="selected"] if @version == version %>><%= link_to(version.name, show_burndown_path(:project_id => @project, :id => version)) %></li>
    <% end -%>
  </ul>
<% end -%>